@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
}

@layer base {
  :root {
    --background: 240 7% 97.6%;
    --foreground: 240 6% 7.3%;
    --card: 0 0% 100%;
    --card-foreground: 240 6% 7.3%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 6% 7.3%;
    --primary: 240 6% 7.3%;
    --primary-foreground: 0 0% 100%;
    --secondary: 240 5% 94%;
    --secondary-foreground: 240 6% 7.3%;
    --muted: 220 9% 46%;
    --muted-foreground: 220 4% 64.7%;
    --accent: 240 5% 94%;
    --accent-foreground: 240 6% 7.3%;
    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 20% 95.5%;
    --input: 240 20% 95.5%;
    --ring: 240 6% 7.3%;
    --radius: 1rem;
    --success: 142 76% 36%;
    --success-bg: 152 81% 96%;
    --warning: 32 95% 44%;
    --warning-bg: 48 100% 96%;
    --error: 0 72% 51%;
    --error-bg: 0 86% 97%;
    --info: 217 91% 60%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
